<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{#if pageTitle}{pageTitle} - Ping CRM{:else}Ping CRM{/if}</title>
  {#if ssrHead}{ssrHead}{/if}
  <link rel="stylesheet" href="/assets/app.css" />
</head>
<body class="font-sans antialiased">
  {#if ssrBody}{ssrBody}{#else}<div id="app" ></div>
  <script type="application/json" data-page="app">{dataPage}</script>{/if}
  <script type="module" src="/assets/app.js"></script>
</body>
</html>